<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="RSK Unit Tests">
            <directory>./tests/src/Unit</directory>
        </testsuite>
        <testsuite name="RSK Feature Tests">
            <directory>./tests/src/Feature</directory>
        </testsuite>
    </testsuites>
</phpunit>